@import '../colores/colores.scss';

/* primera seccion */

.primera-seccion-primaria {
    background: linear-gradient(rgba(252, 222, 190, 0.527), rgba(51, 30, 30, 0.446)), url("../img/fondoconser.jpg") no-repeat center/cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#primer-contenido-primaria>p {
text-transform: capitalize;
font-family: 'montserrat', sans-serif;
font-size: 1.5rem;
text-shadow: 7px 7px 7px map-get($color, quinto);
margin-bottom: 0.5rem;
font-weight: bold;
display: flex;
flex-direction: column;
text-align: center;
color: map-get($color, cuarto);
} 
#primer-contenido-primaria>h1 {
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    text-shadow: 7px 7px 7px map-get($color, quinto);
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    color: map-get($color, cuarto);
    display: flex;
    justify-content: center;
}

/* fin de primera seccion */

/* segunda seccion */

.segunda-seccion-primaria {
    display: flex;
    justify-content: space-evenly;
    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

#seccion-pri {
    width: 100%;
    .tm {
        background-color: rgba(22, 21, 105, 0.082);
        color: rgb(0, 0, 0);
        border-radius: 6px;
        font-size: larger;
        text-align: center;
        opacity: 0.9;
        box-shadow: 1px 1.5px 10px rgba(0, 0, 0, 0.2);
        cursor: default;
        transition: all 400ms ease;
        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            transform: translateY(-2%);
        }
        .tur-man {
            padding: 3rem 0rem 2rem 0rem;
            color: map-get($color, tercero);
            font-size: 2rem;
            margin: 4rem 2rem 1rem 2rem;
        }
        .tur-hor {
            color: map-get($color, tercero);
        }
        .horario-mañana {
            padding-bottom: 2rem;
        }
        .text-mañana {
            padding-left: 4rem;
            padding-right: 4rem;
        }
        .text-mañana-2{
            padding-bottom: 2rem;
        }
    }
}

#seccion-pri {
    width: 100%;
    .tt {
        background: rgba(22, 21, 105, 0.082);
        color: rgb(0, 0, 0);
        border-radius: 6px;
        font-size: larger;
        text-align: center;
        opacity: 0.9;
        box-shadow: 1px 1.5px 10px rgba(0, 0, 0, 0.2);
        cursor: default;
        transition: all 400ms ease;
        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            transform: translateY(-2%);
        }
        .tur-man {
            padding-top: 3rem;
            color: map-get($color, tercero);
            font-size: 2rem;
        }
        .tur-hor {
            color: map-get($color, tercero)!important;
        }
        .horario-mañana {
            padding-bottom: 2rem;
        }
        .text-mañana {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
}

/* fin de segunda seccion */

/* tercera seccion */

.tercera-seccion-primaria {
    display: flex;
    flex-direction: row;
    #seccion-izq-act {
        background: linear-gradient(rgb(176, 208, 245), rgba(40, 98, 185, 0.781));
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .actividades {
            display: flex;
            flex-direction: column;
            align-items: center;
            .pri{
                padding-top: 2rem;
            }
            p {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-align: justify;
                width: 77%;
                padding-top: .5rem;
            }
            .img-act {
                width: 80%;
                padding: 1.5rem;
            }

        }
    }

    #seccion-der-act {
        background: linear-gradient(rgb(176, 208, 245), rgba(40, 98, 185, 0.781));
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .mas-actividades {
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
                padding: 2px;
                margin: 1rem 1rem;
                text-align: center;
                color: map-get($color, cuarto);
                font-family: 'Montserrat', sans-serif;
                font-size: larger;
                border-radius: 4px;
                background: rgb(216, 224, 255);
                border: 1px solid map-get($color, primero);
                color: map-get($color, primero);
                padding: 1rem;
                margin-top: 2.5rem;
                transition: all 400ms ease;
                &:hover {
                    background: map-get($color, primero);
                    color: map-get($color, segundo);
                }
            }
        }
    }
}

/* fin de tercera seccion */