@import './extras-del-nav/_header.scss';
@import './extras-del-nav/_animations.scss';
@import './extras-del-nav/_media.scss';



header {
    font-family: 'Montserrat', sans-serif;
}

.loguito {
    width: 90px;
    margin: 1em ;
}
